<% include ../partials/header %>
<h1><%=campground.name%></h1>

<p><%=campground.name%></p>
<img src="<%= campground.image%>">
<p><%= campground.description %></p>
<p>
    <a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Add New Button</a>
</p>

<% campground.comments.forEach(function(comment){ %>
<p><%=comment.author%></p>
<p><%=comment.text%></p>
    
<% }) %>

<% include ../partials/footer %>