<% include partials/header %>
<h1><%=campground.name%></h1>

<p><%=campground.name%></p>
<img src="<%= campground.image%>">
<p><%= campground.description %></p>

<% campground.comments.forEach(function(comment){ %>
<p><%=comment.author%></p>
<p><%=comment.text%></p>
    
<% }) %>

<% include partials/footer %>